
@using SOFA.Models
@model System.Collections.Generic.List<Department>

@{ 
}
 
<div class="col-md-1 col-md-offset-1 list-sidebar">
    <div class="nav nav-sidebar">
        <h3 class="nav-heading text-center">Departments</h3>
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" />
                </button>
            </div>
        </div><!--btn-group-->

    @foreach (Department d in Model)
        {
            <li>
                @Ajax.ActionLink(@d.DepartmentName, "Department", new { departmentId = d.id }
                                , new AjaxOptions { UpdateTargetId = "departmentBody" })
            </li>
        }
    </div>
</div><!--Sidebar-->

<div id="departmentBody" class="col-md-10 col-md-offset-2">
</div>