@*
    *  School Of Future Applications
    *
    *  Copyright (C) 2014  Terminal Coding
    *
    * This program is free software; you can redistribute it and/or
    * modify it under the terms of the GNU General Public License
    * as published by the Free Software Foundation; either version 2
    * of the License, or (at your option) any later version.
    *
    * This program is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    * GNU General Public License for more details.
    *
    * You should have received a copy of the GNU General Public License
    * along with this program; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using SOFA.Models.ViewModels

@model PendingEnrolmentViewModel

@{
    EnrolmentFormViewModel vm = new EnrolmentFormViewModel();
    vm.EnrolmentForm = Model.EnrolmentForm;
    vm.DeleteAction = "Department";
    vm.DeleteController = "Department";
    vm.DeleteArgs.Add("departmentId", Model.Department.id.ToString());
    vm.ApproveAction = "PendingEnrolment";
    vm.ApproveController = "Department";
    vm.ApproveArgs.Add("departmentId", Model.Department.id.ToString());
    vm.ApproveArgs.Add("enrolmentFormId", Model.EnrolmentForm.EnrolmentFormId.ToString());
    vm.DisapproveAction = "PendingEnrolment";
    vm.DisapproveController = "Department";
    vm.DisapproveArgs.Add("departmentId", Model.Department.id.ToString());
    vm.DisapproveArgs.Add("enrolmentFormId", Model.EnrolmentForm.EnrolmentFormId.ToString());
}

<div class="row">
    <ol class="breadcrumb">
        You are here:
        <li>@Html.ActionLink("Departments", "index")</li>
        <li>@Html.ActionLink(Model.Department.DepartmentName, "Department"
                            ,new { departmentId = Model.Department.id })</li>
        <li>Enrolment Form For @Model.EnrolmentForm.Student.FullName()</li>
    </ol>
</div>

@Html.Action("EnrolmentForm", "Enrolment", vm)