
@{
    Layout = "~/Views/_DashboardLayout.cshtml";
} 

<div class="col-md-1 col-md-offset-1 list-sidebar">
    @Html.Action("DepartmentSideBar")
</div>

<div id="departmentBody" class="col-md-10 col-md-offset-2">
    @RenderBody()
</div>