
@{
    Layout = "~/Views/_DashboardLayout.cshtml";
}

<div class="page-header">
    <h2>Settings</h2>
</div>

<div class="row">
    <div class="col-md-1">
        <div class="btn-group-vertical btn-group-vertical-max-wdith">
            @Html.ActionLink("SMTP Settings", "EditSMTPSettings", null
                            ,new { @class = "btn btn-default" })
            @Html.ActionLink("Email Settings", "EditEmailSettings", null
                            ,new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="col-md-11">
        @RenderBody()
    </div>
</div>