
/**
  * Sidebar CSS
  */

body {
    background-color: #f6f6f6;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0px;
    border-radius: 0px;
    border-bottom-style: solid;
    border-bottom-color: #d9d3d3;
    border-bottom-width: 1px;
}

.sidebar {
  display: none;
}

.list-sidebar {
   display: none;
}

.btn-group-vertical-max-wdith {
    width: 100%;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #23272d;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-left: -20px;
}

.nav-sidebar > li.ni {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 0px;
}

.nav-sidebar > li.ni > a {
    color: #808b9c;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}

.nav-sidebar > li.ni > a > i {
    margin-right: 10px;
}

.nav-sidebar > li.ni.nis {
    background-color: #292d35;
}

/* Active */
.nav-sidebar > li.ni.active {
    background-color: #181b1f;
    padding-left: 11px;
    border-left-style: solid;
    border-left-width: 9px;
    border-left-color:  #1a7ab9;
}

.nav-sidebar > li.ni.active > a {
    color: white;
}

.nav-sidebar > li.ni.nir.active {
    background-color: #23272d;
    padding-left: 20px;
    border-left-style: none;
}

.nav-sidebar > li.ni.nir.active > a {
    color: white;
}

.nav-sidebar > li.ni.nir.active > a > i{
    color: white;
}

.nav-sidebar > li.ni.active > a > i {
    color: #1a7ab9;
}


/* Mouse Hovering */

.nav-sidebar > li.ni:hover {
    cursor: pointer;
    padding-left: 11px;
    border-left-style: solid;
    border-left-width: 9px;
    border-left-color:  #1a7ab9;
}

.nav-sidebar > li.ni.nir.active:hover {
    padding-left: 11px;
    border-left-style: solid;
    border-left-width: 9px;
    border-left-color:  #1a7ab9;
}

.nav-sidebar > li.ni:hover > a {
    color: white;
    background-color: transparent;
}

.main {
  padding-top: 50px;
}

.table-hover tbody tr:hover > td {
    cursor: pointer;
}

.table-hover tbody tr.lasthidden td:last-child {
    visibility: hidden;
}

.table-hover tbody tr.lasthidden:hover td:last-child {
      visibility: visible;
}

.btn.btn-labeled {
    position: relative;
}
.btn.btn-labeled .btn-label {
    display: block;
    float: left;
    margin: -8px 12px -8px -13px;
    padding: 8px 10px;
    position: relative;
    background: rgba(0, 0, 0, .06);
    line-height: 15px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.btn.btn-labeled .btn-label.icon {
    font-size: 14px;
}

/* Panels */

.panel-orange2 {
    border-color: #f4b04f;
}

.panel-orange2 > .panel-heading {
    color: white;
    background-color: #f4b04f;
}

.panel-primary2 {
    border-color: #5bc0de;
}

.panel-primary2 > .panel-heading {
    color: white;
    background-color: #5bc0de;
}

.panel-success2 {
    border-color: #5ebd5e;
}

.panel-success2 > .panel-heading {
    color: white;
    background-color: #5ebd5e;
}

/* Person Name Circles */

.initial-circle {
    color: #888888;
    background-color: #f7f7f7;
    border-radius: 50%;
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 100px;
    padding: 20px;
}

/* Info Tables */

table.info-grid td {
    padding: 5px;
}

.center-row{
    margin: auto;
}