
/**
  * Sidebar CSS
  */

.sidebar {
  display: none;
}

.list-sidebar {
   display: none;
}

.btn-group-vertical-max-wdith {
    width: 100%;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #23272d;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-left: -20px;
}

.nav-sidebar > li.ni {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 0px;
}

.nav-sidebar > li.ni > a {
    color: #808b9c;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
}

.nav-sidebar > li.ni > a > i {
    margin-right: 10px;
}

.nav-sidebar > li.ni.nis {
    background-color: #292d35;
}

/* Active */
.nav-sidebar > li.ni.active {
    background-color: #181b1f;
    padding-left: 11px;
    border-left-style: solid;
    border-left-width: 9px;
    border-left-color:  #1a7ab9;
}

.nav-sidebar > li.ni.active > a {
    color: white;
}

.nav-sidebar > li.ni.nir.active {
    background-color: #23272d;
    padding-left: 20px;
    border-left-style: none;
}

.nav-sidebar > li.ni.nir.active > a {
    color: white;
}

.nav-sidebar > li.ni.nir.active > a > i{
    color: white;
}

.nav-sidebar > li.ni.active > a > i {
    color: #1a7ab9;
}


/* Mouse Hovering */

.nav-sidebar > li.ni:hover {
    cursor: pointer;
    padding-left: 11px;
    border-left-style: solid;
    border-left-width: 9px;
    border-left-color:  #1a7ab9;
}

.nav-sidebar > li.ni.nir.active:hover {
    padding-left: 11px;
    border-left-style: solid;
    border-left-width: 9px;
    border-left-color:  #1a7ab9;
}

.nav-sidebar > li.ni:hover > a {
    color: white;
    background-color: transparent;
}

.main {
  padding-top: 40px;
}

.table-hover tbody tr:hover > td {
    cursor: pointer;
}

.table-hover tbody tr.lasthidden td:last-child {
    visibility: hidden;
}

.table-hover tbody tr.lasthidden:hover td:last-child {
      visibility: visible;
} 