@using SOFA.Models.ViewModels
@model SOFA.Models.ViewModels.TimetabledClassSelectViewModel

<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#SelectedTimetable").change(function () {
            $(this).parents("form").submit();
        });
    })
</script>

@{
    ViewBag.Title = Model.ClassTemplateName - Classes;
}
<div class="col-md-11 col-md-offset-1">
    <h2>Index</h2>
    @using (Ajax.BeginForm("ListIndex", new AjaxOptions { UpdateTargetId = "list", HttpMethod = "GET"}))
    {
        @Html.HiddenFor(x => Model.ClassTemplateID)
        @Html.DropDownListFor(x => x.SelectedTimetable, Model.Timetables, "Select Timetable")
    }

    <div id="list"></div>
</div>