

<div class="modal-header">
    <h4 class="modal-title">Move Students</h4>
</div>

<div class="modal-body">
    <h3>Herrow</h3>
</div>

<div class="modal-footer">
    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Move</button>
    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
</div>